<h1>Your poll has been created.</h1>

<h5>The two links below are the admin and poll links. To send the poll out,
copy the poll link and send it to whoever you want to respond.</h5>

<div hidden="true" id="poll-id">{{poll.pollId}}</div>

<ul>
  <li><strong>Poll Link: </strong><a id="poll-url">{{poll.pollUrl }}</a></li>
  <li><strong>Admin Link: </strong><a id="admin-url">{{poll.adminUrl }}</a> <strong>(this is the current page)</strong></li>
</ul>

<h3 id="poll-question">Results For: <strong>{{ poll.question }}</strong></h3>
  {{#if poll.active}}
    <button type="button" id="close-poll">Close Poll</button>
  {{else}}
    <h3>This poll has closed.</h3>
  {{/if}}
<div id="poll-results">
  {{#if poll.responses}}
    <table>
      <thead>
        <tr>
          <th data-field="id">Choice</th>
          <th data-field="choice">Votes Cast</th>
        </tr>
      </thead>
      <tbody>
        {{#each poll.responses}}
          <tr>
            <td> {{@key}} </td>
            <td> {{this}} </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>

<script type="text/javascript" src="/admin.js"></script>
